# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 09ac5ea5a6699de42040c2603c6572a21d063b0931977ee252c4b5d5a75faf25fb64d5dd40322e3e1fd05cfd2b96e3d96e4dad5a6dd48d0854af5ebe9e19230b

test:
  secret_key_base: 878b7da15d8983386e18325534e5ee55692579a6689778ef7d92b7d258c215ee99ea207adf56de34da1bf6e9711abaf801a78de357a0ec19f588fa5219b6c070

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
